In [1]:
import pandas as pd

In [5]:
rot_tom_df = pd.read_csv("rotten_tomatoes_movies.csv")

rot_tom_df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [22]:
imsdb_df = pd.read_csv("imsdb_movies.csv", header=None, names=range(7))

imsdb_df["people"] = imsdb_df.iloc[:, 1:].apply(lambda row: ','.join(row.dropna().astype(str)), axis=1)
imsdb_df.rename(columns={0: 'movie_title'}, inplace=True)
imsdb_df.head()

,movie_title,1,2,3,4,5,6,people
0,10 Things I Hate About You,Karen McCullah Lutz,Kirsten Smith,William Shakespeare,NaN,NaN,NaN,"Karen McCullah Lutz,Kirsten Smith,William Shak..."
1,12,Lawrence Bridges,NaN,NaN,NaN,NaN,NaN,Lawrence Bridges
2,12 and Holding,Anthony Cipriano,NaN,NaN,NaN,NaN,NaN,Anthony Cipriano
3,12 Monkeys,David Peoples,Janet Peoples,NaN,NaN,NaN,NaN,"David Peoples,Janet Peoples"
4,12 Years a Slave,John Ridley,NaN,NaN,NaN,NaN,NaN,John Ridley

In [29]:
rot_tom_df[rot_tom_df["movie_title"] == "10 Things I Hate About You"]

combined_df = imsdb_df.merge(rot_tom_df, how = "left", on = "movie_title")
combined_df.head()

,movie_title,1,2,3,4,5,6,people,rotten_tomatoes_link,movie_info,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,10 Things I Hate About You,Karen McCullah Lutz,Kirsten Smith,William Shakespeare,NaN,NaN,NaN,"Karen McCullah Lutz,Kirsten Smith,William Shak...",m/10_things_i_hate_about_you,"Kat Stratford (Julia Stiles) is beautiful, sma...",...,Buena Vista Pictures,Fresh,69.0,78.0,Upright,69.0,32104911.0,19.0,54.0,24.0
1,12,Lawrence Bridges,NaN,NaN,NaN,NaN,NaN,Lawrence Bridges,m/twelve,"Jurors (Sergei Makovetsky, Sergey Garmash, Ale...",...,Sony Pictures Classics,Certified-Fresh,77.0,60.0,Upright,84.0,47352.0,24.0,46.0,14.0
2,12 and Holding,Anthony Cipriano,NaN,NaN,NaN,NaN,NaN,Anthony Cipriano,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12 Monkeys,David Peoples,Janet Peoples,NaN,NaN,NaN,NaN,"David Peoples,Janet Peoples",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12 Years a Slave,John Ridley,NaN,NaN,NaN,NaN,NaN,John Ridley,m/12_years_a_slave,"In the years before the Civil War, Solomon Nor...",...,Fox Searchlight,Certified-Fresh,95.0,365.0,Upright,90.0,140313.0,64.0,348.0,17.0

In [31]:
combined_df[combined_df["rotten_tomatoes_link"].isna()]

,movie_title,1,2,3,4,5,6,people,rotten_tomatoes_link,movie_info,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
2,12 and Holding,Anthony Cipriano,NaN,NaN,NaN,NaN,NaN,Anthony Cipriano,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12 Monkeys,David Peoples,Janet Peoples,NaN,NaN,NaN,NaN,"David Peoples,Janet Peoples",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,187,Scott Yagemann,NaN,NaN,NaN,NaN,NaN,Scott Yagemann,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,48 Hrs.,Steven E. De Souza,Walter Hill,Roger Spottiswoode,Larry Gross,Jeb Stuart,NaN,"Steven E. De Souza,Walter Hill,Roger Spottiswo...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,50-50,Will Reiser,NaN,NaN,NaN,NaN,NaN,Will Reiser,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,World is not Enough,The,Neal Purvis,Robert Wade,Bruce Feirstein,Ian Fleming,NaN,"The,Neal Purvis,Robert Wade,Bruce Feirstein,I...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,Wrestler,The,Rob Siegel,NaN,NaN,NaN,NaN,"The,Rob Siegel",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,X-Files: Fight the Future,The,Chris Carter,NaN,NaN,NaN,NaN,"The,Chris Carter",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,X-Men Origins: Wolverine,David Benioff,Skip Woods,NaN,NaN,NaN,NaN,"David Benioff,Skip Woods",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,xXx,Rich Wilkes,NaN,NaN,NaN,NaN,NaN,Rich Wilkes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN